<c-row>
    <c-col>
        <c-card>
            <c-card-header>
                {{savePlaceholder}} etiqueta
            </c-card-header>
            <c-card-body>
                <form #customStylesForm="ngForm" cForm (ngSubmit)="onSubmit()" [formGroup]="tagEditForm" [validated]="formValidated" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label cLabel for="tagName">Nombre</label>
                        <input cFormControl formControlName="name" type="text" required>
                        <c-form-feedback [valid]="formValidated" *ngIf="!saving">¿Qué cosa fuera la etiqueta sin nombre?</c-form-feedback>
                    </div>
                    <input cButton color="primary" type="submit" value="Guardar">
                </form>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col *ngIf="isEditing">
        <c-card>
            <c-card-header>{{receivedTag.TagName}} se usa en:</c-card-header>
            <c-card-body>
                <table cTable hover stripped bordered *ngIf="dependencies && dependencies.length">
                    <thead>
                        <th class="bg-body-tertiary">Nombre</th>
                    </thead>
                    <tbody>
                        @for (dep of dependencies; track dep.Name) {
                            <tr>
                                <td>{{dep.Name}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <span *ngIf="dependencies && dependencies.length === 0">
                    Ninguna pegatina de momento
                </span>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
