<c-row>
    <c-col>
        <c-card>
            <c-card-header>
                {{savePlaceholder}} etiqueta
            </c-card-header>
            <c-card-body>
                <form #customStylesForm="ngForm" cForm (ngSubmit)="onSubmit()" [formGroup]="tagEditForm" [validated]="formValidated" class="needs-validation" novalidate>
                    <c-row gutter="3" class="align-items-center">
                        <c-col xs="3" md="auto">
                            <label cLabel for="name">Nombre</label>
                        </c-col>
                        <c-col xs="9" [md]="getWidth()">
                            <input cFormControl formControlName="name" type="text" required id="name">
                            <c-form-feedback [valid]="formValidated" *ngIf="!saving">¿Qué cosa fuera la etiqueta sin nombre?</c-form-feedback>
                        </c-col>
                        <c-col xs="12" md="auto">
                            <input cButton color="primary" type="submit" value="Guardar" class="alignRight">
                        </c-col>
                    </c-row> 
                </form>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col *ngIf="isEditing">
        <c-card>
            <c-card-header>{{receivedTag.TagName}} se usa en:</c-card-header>
            <c-card-body>
                <table cTable hover stripped bordered *ngIf="dependencies && dependencies.length">
                    <thead>
                        <tr>
                            <th class="bg-body-tertiary">Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (dep of dependencies; track dep.Name) {
                            <tr>
                                <td>{{dep.Name}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <span *ngIf="dependencies && dependencies.length === 0">
                    Ninguna pegatina de momento
                </span>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
