<c-row>
  <c-col xs="12" md="6" class="my-2">
    <c-card class="h-100">
      <c-card-header>¿Cuántas cosas hay?</c-card-header>
      <c-card-body>
        <c-chart
          [data]="overviewData"
          type="bar"
          height="590">
        </c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" md="6" class="my-2">
    <c-card class="h-100">
      <c-card-header>¿Cuántas pegatinas tiene cada etiqueta?</c-card-header>
      <c-card-body id="tagContainer">
        <c-chart
          [data]="tagData"
          type="doughnut">
        </c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs="12">
    <c-card class="my-4">
      <c-card-header>¿Qué has estado haciendo todo este tiempo?</c-card-header>
      <c-card-body>
        <c-chart
          [data]="stickerData"
          type="line">
        </c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
