<c-row>
    <c-col>
        <c-card>
            <c-card-header>
                {{savePlaceholder}} categoría
            </c-card-header>
            <c-card-body>
                <form #customStylesForm="ngForm" cForm (ngSubmit)="onSubmit()" [formGroup]="categoryEditForm" [validated]="formValidated" class="needs-validation" novalidate>
                    <c-row gutter="3" class="align-items-center">
                        <c-col xs="12">
                            <c-input-group class="flex-nowrap">
                                <span cInputGroupText>Nombre</span>
                                <input cFormControl formControlName="name" type="text" required id="name">
                                <c-form-feedback [valid]="formValidated" *ngIf="!saving">Me falta algo...</c-form-feedback>
                            </c-input-group>
                        </c-col>
                        <c-col xs="12" class="my-4">
                            <c-input-group class="flex-nowrap">
                                <span cInputGroupText>Etiquetas</span>
                                <select2 formControlName="tag" multiple="true" [data]="tags" [value]="categoryTags"
                                    noResultMessage="Enter para crear una nueva etiqueta" (autoCreateItem)="handleCreateTag($event)"
                                    resetSelectedValue="" autoCreate resettable class="wideSelect" displaySearchStatus="always">
                                </select2>
                                <c-form-feedback [valid]="formValidated" *ngIf="!saving">Me falta algo...</c-form-feedback>
                            </c-input-group>
                        </c-col>
                        <c-col xs="12">
                            <input cButton color="primary" type="submit" value="Guardar" class="alignRight">
                        </c-col>
                    </c-row> 
                </form>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col *ngIf="isEditing">
        <c-card>
            <c-card-header>{{receivedCategory.CategoryName}} se usa en:</c-card-header>
            <c-card-body>
                <table cTable hover stripped bordered *ngIf="dependencies && dependencies.length">
                    <thead>
                        <tr>
                            <th class="bg-body-tertiary">Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (dep of dependencies; track dep.Name) {
                            <tr>
                                <td>{{dep.Name}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <span *ngIf="dependencies && dependencies.length === 0">
                    Ninguna de momento
                </span>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
