<c-row>
    <c-col>
        <c-card>
            <c-card-header>
                {{savePlaceholder}} pegatina
            </c-card-header>
            <c-card-body>
              <c-row gutter="3" class="align-items-top">
                <c-col xs="12" md="6">
                  <form #customStylesForm="ngForm" cForm (ngSubmit)="onSubmit()" [formGroup]="stickerEditForm" [validated]="formValidated" class="needs-validation" novalidate>
                    <c-row class="my-3">
                      <c-col xs="3" md="2">
                        <label cLabel class="col" for="name">Nombre</label>
                      </c-col>
                      <c-col xs="9" md="10">
                        <input cFormControl type="text" formControlName="name" />
                        <c-form-feedback [valid]="formValidated" *ngIf="!saving">¿Y cómo vas a buscar luego la pegatina?</c-form-feedback>
                      </c-col>
                    </c-row>
                    <c-row class="my-3">
                      <c-col xs="3" md="2">
                        <label cLabel class="col" for="name">Etiquetas</label>
                      </c-col>
                      <c-col xs="9" md="10">
                        <select2 formControlName="tag" multiple="true"
                          [data]="tags"
                          noResultMessage="Enter para crear una nueva etiqueta" 
                          (autoCreateItem)="handleCreateTag($event)"
                          [value]="stickerTags"
                          resetSelectedValue=""
                          autoCreate 
                          resettable>
                        </select2>
                      </c-col>
                    </c-row>
                    <c-row>
                      <c-col xs="12" md="12">
                        <button cButton type="submit" class="alignRight">Guardar</button>
                      </c-col>
                    </c-row>
                  </form>
                  </c-col>
                  <c-col xs="12" md="6">
                    @if (stickerImage && stickerImage.Src !== '') {
                      <img cImg fluid [src]="stickerImage.Src" thumbnail />
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                        <button cButton color="danger" class="me-md-2" (click)="openDeleteModal()">Borrar</button>
                      </div>
                    }
                    @else {
                      <div class="mb-3">
                        <label cLabel for="formFile">
                          {{isEditing ? 'Esta pegatina aún no tiene imagen' : 'Guarda primero los datos para añadir la imagen'}}
                        </label>
                        <input cFormControl id="formFile" type="file" [disabled]="!isEditing" (change)="handleAddImage($event)" />
                      </div>
                    }
                  </c-col>
              </c-row>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<app-modal [title]="modalTitle" [message]="modalMessage" (dialogResponse)="handleDeleteModalResponse($event)"></app-modal>
