.cardTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.galleryActionButtons {
    display: none;
}
.galleryCard {
    min-height: 48px;
}
.galleryCard:hover .galleryActionButtons {
    display: inline;
}
.thumbnailImage {
    height: 200px;
    overflow: hidden;
}
.thumbnailImage img {
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.thumbnailImage img:hover {
    transform: scale(2.5);
}