
<app-sticker-filter (filters)="getFilters($event)"></app-sticker-filter> 
<c-card>
    <c-card-header>
        Galería
        <label class="alignRight">
            <select cSelect (change)="handleChangeTableRows($event)" [ngModel]="itemsPerPage">
                @for(item of itemsPerTable; track item) {
                <option>
                    {{item}}
                </option>
                }
            </select>
        </label>
    </c-card-header>
    <c-card-body>
        <c-row [xs]="2" [md]="5">
            @for(image of images; track image?.IdImage) {
            <c-col class="my-2">
                <c-card [cBorder]="{ top: { color: 'secondary', width: 3 }}" class="h-100">
                    <c-card-header class="galleryCard">
                        <c-row>
                            <c-col>
                                <span class="cardTitle">{{image.StickerName}}</span>
                            </c-col>
                            <c-col class="galleryActionButtons">
                                <button cButton color="warning" variant="ghost" size="sm" (click)="onEdit(image)">
                                    <svg [cIcon]="actionIcons.cilPencil"></svg>
                                </button>
                                <button cButton color="danger" variant="ghost" size="sm" (click)="openDeleteModal(image)">
                                    <svg [cIcon]="actionIcons.cilTrash"></svg>
                                </button>
                            </c-col>
                        </c-row>
                    </c-card-header>
                    <c-card-body class="thumbnailImage">
                        <img cCardImg [src]="image?.Src" />
                    </c-card-body>
                </c-card>
            </c-col>
            }
        </c-row>
        <app-grid-pager [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" [currentPage]="currentPage"
            (pageNumber)="handlePageChange($event)"></app-grid-pager>
    </c-card-body>
</c-card>
<app-modal [title]="modalTitle" [message]="modalMessage" (dialogResponse)="handleDeleteModalResponse($event)"></app-modal>