<c-card>
  <c-card-header>
    <c-row class="justify-content-between align-items-center">
      <c-col xs="8" md="1"><span>Filtros</span></c-col>
      <c-col xs="4" md="1"><button cButton type="reset" color="secondary" variant="outline" (click)="onReset()">Limpiar</button></c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <form cForm (ngSubmit)="onSubmit()" [formGroup]="tagForm">
      <c-row gutter="3" class="align-items-center">
        <c-col xs="3" md="auto">
          <label cLabel class="col" for="name">Nombre</label>
        </c-col>
        <c-col xs="9" md="10">
          <input cFormControl type="text" formControlName="name" />
        </c-col>
        <c-col xs="12" md="1">
          <button cButton type="submit" class="float-end">Buscar</button>
        </c-col>
      </c-row>
    </form>
  </c-card-body>
</c-card>
<br />
<c-card>
  <c-card-header>
    Resultados
    <label class="alignRight">
      <select cSelect (change)="handleChangeTableRows($event)" [ngModel]="itemsPerPage">
        @for(item of itemsPerTable; track item) {
          <option>
            {{item}}
          </option>
        }
      </select>
    </label>
  </c-card-header>
  <c-card-body>
    <table cTable hover stripped bordered>
      <thead >
        <tr>
          <th class="bg-body-tertiary col-md-11">Nombre</th>
          <th class="bg-body-tertiary col-md-1">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (tag of pagedItems; track tag.IdTag) {
          <tr>
            <td>{{tag.TagName}}</td>
            <td>
              <button cButton color="warning" variant="ghost" (click)="onEdit(tag)">
                <svg [cIcon]="actionIcons.cilPencil"></svg>
              </button>
              <button cButton color="danger" variant="ghost" (click)="openDeleteModal(tag)">
                <svg [cIcon]="actionIcons.cilTrash"></svg>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <app-grid-pager *ngIf="showPager" [itemsPerPage]="itemsPerPage" [totalItems]="tags.length" [currentPage]="currentPage" (pageNumber)="handlePageChange($event)"></app-grid-pager>
  </c-card-body>
</c-card>
<app-modal [title]="modalTitle" [message]="modalMessage" (dialogResponse)="handleDeleteModalResponse($event)"></app-modal>